
@media screen and (min-width: 600px) {

body {
        background-color: hsl(30, 38%, 92%);
        width: 100vw;
        height: 100%;
}


main{
        margin: 100px auto;
        max-width: 650px;
        height: 450px;
        padding: 0px;
        background-color: white;/*hsl(30, 38%, 92%)*/;
        display: flex;
        border-radius: 10px;
}

    .mobimg{
        
        display: none;
    }

    .deskimg {
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        margin: 0;
    }

    button {
        display: flex;
        justify-content: center;
        background-color:  hsl(158, 36%, 37%);
        width:  95%;
        margin:  auto;
        color:  white;
        padding: 10px;
        border-radius: 5px;
        line-height: 4px;
    }


.product_info{
        background-color: hsl(0, 0%, 100%);
        padding: 30px;
    }

    .current-price {
        color: hsl(158, 36%, 37%);
        font-size: 30px;
    }

    .old-price{
        padding: 10px;
        text-decoration: line-through;
        color: hsl(228, 12%, 48%);
    }


    button {
        display: flex;
        justify-content: center;
        background-color:  hsl(158, 36%, 37%);
        width:  95%;
        margin:  auto;
        color:  white;
        padding: 10px;
        border-radius: 5px;
        line-height: 4px;
    }

    p, h1{
        padding: 10px;
    }

    .price_des {
        color: hsl(228, 12%, 48%);
    }

    .cartigory{
        color: hsl(228, 12%, 48%);
        letter-spacing: 4px;
        font-family: Fraunces;
    }
}